<!-- page-banner-section 
			================================================== -->
<section class="page-banner-section">
    <div class="container">
        <h1>Quán ăn</h1>
        <span>Thông tin chi tiết quán ăn</span>
    </div>
</section>
<!-- End page-banner section -->

<!-- page-ban-list -->
<div class="container">
    <ul class="page-ban-list">
        <li><a href="/index">Trang chủ</a></li>
        <li><a href="/restaurants">Danh sách quán ăn</a></li>
        <li><a href="/restaurant_detail">Quán ăn</a></li>
    </ul>
</div>
<!-- end page-ban-list -->

<!-- menu-section 
			================================================== -->
<section class="menu-section">
    <div class="menu-box pizza-menu">
        <div class="container">
            

            <div class="row pb-5">
                <div class="col-6">
                    <img src="/upload/menu/banh_mi_pewpew.png" alt="">
                </div>
                <div class="col-6">
                    <h2>Bánh mì PEWPEW</h2>
                    <p><span>Vị trí: </span>66 Út Tịch, P. 4, Quận Tân Bình, TP. HCM</p>
                    <p><span>Thời gian mở cửa:</span> 06:00 - 23:00</p>
                    <p><span>Giá cả dao động: </span>20.000đ - 30.000đ</p>
                </div>
            </div>

            <div class="title-section">
                <h2>Thực đơn</h2>
                <span>Danh sách các món ăn có trong quán.</span>
            </div>

            <div class="row">
                {{#if msg}}
                <h1 class="text-center">{{msg}}</h1>
                {{else}}
                {{#each listDish}}
                <div class="col-lg-4 col-md-6">
                    <div class="menu-post">
                        <img src="{{image}}" alt="">
                        <h3>{{name}}</h3>
                        <h3>{{category}}</h3>
                        <p>{{description}}</p>
                        <span class="price">{{price}}</span>
                        <a href="/single-food" class="button-one">Xem thông tin</a>
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </div>

        </div>
    </div>
</section>
<!-- End menu section -->