<!-- page-banner-section 
			================================================== -->
<section class="page-banner-section">
    <div class="container">
        <h1>Our Menu 1</h1>
        <span>good food fresh ingredients</span>
    </div>
</section>
<!-- End page-banner section -->

<!-- page-ban-list -->
<div class="container">
    <ul class="page-ban-list">
        <li><a href="/index">Home</a></li>
        <li><a href="/restaurant">Our Menu 1</a></li>
    </ul>
</div>
<!-- end page-ban-list -->

<!-- menu-section 
			================================================== -->
<section class="menu-section">
    <div class="menu-box pizza-menu">
        <div class="container">
            <div class="title-section">
                <h2>Restaurant</h2>
                <span>Try the delicious new dishes from our chef.</span>
            </div>
            {{#if checkSearchpage}}
                <div class="row">
                    <h3>Kết quả tìm kiếm:</h3>
                </div>
            {{/if}}
            <div class="row">
                {{#if msg}}
                <h1 class="text-center">{{msg}}</h1>
                {{else}}
                {{#each listDish}}
                <div class="col-lg-4 col-md-6">
                    <div class="menu-post">
                        <img src="{{image}}" alt="">
                        <h3>{{name}}</h3>
                        <h3>{{category}}</h3>
                        <p>{{description}}</p>
                        <span class="price">{{price}}</span>
                        <a href="/single-food" class="button-one">Xem thông tin</a>
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </div>

        </div>
    </div>
</section>
<!-- End menu section -->